@model FIT5032_Assignment_New.Models.Invitee

@{
    ViewBag.Title = "Event Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" style="background: url('/Pictures/eventheader.jpg') no-repeat center center; background-size: cover;">
    <div class="container"><h2 class="header">Invitation Detail</h2></div>
</div>

<div class="container">
    <div id="map" style="height:300px"></div>
    <div>
        <h4>Event Detail <span class="btn btn-default button1"><i class="fa fa-location-arrow"></i></span></h4>
        <hr />
        <dl class="dl-horizontal coordinates">
            <dt>
                @Html.DisplayNameFor(model => model.Location.LocationName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Location.LocationName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Location.Description)
            </dt>

            <dd class="description">
                @Html.DisplayFor(model => model.Location.Description)
            </dd>

            <dt style="display: none">
                @Html.DisplayNameFor(model => model.Location.Latitude)
            </dt>

            <dd class="latitude" style="display: none">
                @Html.DisplayFor(model => model.Location.Latitude)
            </dd>

            <dt style="display: none">
                @Html.DisplayNameFor(model => model.Location.Longitude)
            </dt>

            <dd class="longitude" style="display: none">
                @Html.DisplayFor(model => model.Location.Longitude)
            </dd>

            <dt>
                Initiator
            </dt>

            <dd>
                @*@Html.DisplayFor(model => model.Email)*@
                @Html.Action("GetUserName", new { userId = Model.Location.InviterId })
            </dd>

            <dt>
                @*@Html.DisplayNameFor(model => model.Status)*@
                My Status
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>
            <dt>@Html.DisplayNameFor(model => model.Location.Date)</dt>
            <dd class="date">@Html.DisplayFor(model => model.Location.Date)</dd>

        </dl>
    </div>
    <p>
        @if (DateTime.Compare(Model.Location.Date, DateTime.Now) > 0)
    {
        @Html.ActionLink("RSVP", "Edit", new { id = Model.Id })
        <span>|</span>
}
        @Html.ActionLink("Back to List", "Index")
    </p>
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/mapbox")
    }

<script>
                $(".button1").click(function (e) {
                    var lng = $(".longitude").html();
                    var lat = $(".latitude").html();
                    map.flyTo({ center: [lng, lat] });
                })
</script>